* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
    color:white;
}
.body{
    height:100vh;
    width:100%;
}
.container{
    max-width:1200px;
    margin:0 auto;
}
.flex-container{
  display:flex;
  flex-direction:column;
}
.upper-content{
height:calc(100vh - 100px);
display:flex;

}
.sidebar{
    background-color: black;
    width:220px;
    height:calc(100vh - 90px);
    overflow-y:auto;
    flex-shrink: 0;
    flex-grow: 1;
}
.sidebar-small{
    display:none;
    background-color: black;
    width:200px;
    height:calc(100vh - 90px);
    margin:0 auto;
    text-align:center;
    overflow-y:auto;
    flex-shrink:1;
}
.flex-sidebar-small{
    display:flex;
    flex-direction: column;
    margin-left: 10px;
}
.logo-small{
    width:100%;
    height:40%;
}
#logo-small{
    width:80%;
    height:80%;
}
#logo-image{
    width:80%;
    height:80%;
    margin:30px 0;
    margin-left:10px;
}
.icon-image{
    width:10%;
    height:10%;
    vertical-align:middle;
}
#smaller{
    width:40%;
    height:60%;
}
.small-icon-menu{
    margin-top:50px;
    padding-bottom:50px;  
}
.icon-image-small{
    width:50%;
    height:40%;
}
.icon-image-footer{
    width:30%;
    height:60%;
    vertical-align: middle;
}
.icon-image-navfooter{
    width:80%;
    height:100%;
}
.side-navbar-down{
    margin-top:50px;
    margin-bottom:100px;
    overflow-y: auto;
}
#download{
   width:80%;
   height:80%;
   margin-left:-15%;
}

  

 .list-item-nav{
     margin-left:10px;
     color:grey;
     line-height:150%;
 }
 .icon-playlist{
     color:white;
     font-size: 40px;
     vertical-align: middle;  
 }
 .first-playlist{
     margin-bottom: 30px;
 }
 .navbar-footer{
     margin-bottom: 10px;
     height:90px;
 }
 .navbar-footer hr{
     width:90%;
     margin-top:5px;
     margin-bottom:5px;  
 }
 .navfooter-list-item{
     color:grey;
 }
 
.main-content{
    width:calc(100vw - 220px);
    padding-top:120px;
    padding-left:20px;
    background-color: black;
}
.main-navbar{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    height:100%;
    /* width:calc(100% / 6); */
    justify-content:center;
}
.main-navbar li .active::after{
    content: '';
    display:block;
    width:30%;
    height:2px;
    color:white;
    margin:0 auto;
}
main{
    overflow-y:auto;
}
.main-navbar a{
    text-decoration: none;
    padding:5px;
    height:100%; 
    color:grey; 
}

.row-images{
    display:flex;
    flex-wrap: wrap;
    padding-top:20px;
    padding-bottom:10px;
    margin-right:30px; 
} 

.small-header-section{
    margin-top:20px;
    margin-bottom:20px;
}
.discs-image{
    width:calc(100% / 6);
    height:100%;
    padding:5px;
    position:relative;
}
.medium-image{
    width:100%;
    height:100%;
}
.play-image{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% ,-50%);
    font: size 50px;
    display:none;
}
.sottotitolo-sezione{
    color:GRAY;
}
.image-title , .subtitle-image{
    color:white;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
}
.trasparent-header{
    height:100px;
    width:calc(100vw - 220px);
    background-color: black;
    opacity:0.5;
    position:fixed;
    top:0;
    right:0;
    display:flex;
    justify-content: flex-end;
    z-index:1;
}
.header-button{
    height:40px;
    width:150px;
    margin-right:20px;
    background-color:black;
    border:1px solid white;
    color:rgb(255,251,247);
    
    align-self:center;
    border-radius: 10%;
}
.header-button a{
    text-decoration: none;
    color:rgb(255,251,247);
    font-weight: bold;
}
.final-footer{
    background-color:rgb(35, 34, 34);
    height:100px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
#footer-image{
    width:100%
}
    .central-footer{
        width:40%;
        display:flex;
        flex-direction:column;
        align-items:center;
        color:grey;
    }
.footer-minimenu{
    display:flex;
    align-items: center;
    
}   
.left-footer{
    flex-flow: center;
    width:30%;
    color:grey;
}
.right-footer{
   width:30%;
   flex-flow: center;
color:grey;
}
.list-item-footer{
    padding:10px;
}
.image-small{
    height:15%;
   width:15%;
}
.center-menu{
    font-size: 100%;
    
}
.middle-hr-footer{
    width:50%;
    
}
/* utilites */
ul{
    list-style-type: none;
}
.border-50{
    border-radius: 50%;
}
.greycolor{
    background-color: gray;
}
.main-navbar a:hover{
    color:white;
    cursor:pointer;
}
.list-item-nav:hover{
    color:white;
    cursor:pointer;
}
.volume-lines{
    height:2px;
    width:100px;
    color:calc(20% blue , 50% red);
}



/* hover efect */

.final-footer li:hover{
    cursor:pointer;
    color:white;
}
.final-footer hr:hover{
    cursor:pointer;
    width:80%;
    color:yellow;
}
.row-images figure{
    transition: transform 0,5s;
    position:relative;
}

.discs-image:hover{
    content: '';
    cursor:pointer;
    transform: scale(1.10)  translateY(-10px);
}
.row-images:hover figure::before{
    content: '';
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
}
.row-images:hover figure::after{
    content: "\f144";
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    font-size:40px;
}
.header-button:hover{
    cursor:pointer;
    transform: scale(1.10);
}
