* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
}
.body{
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
}
.container{
    max-width:1200px;
    margin:0 auto;
}
.flex-container{
  display:flex;
  flex-direction:column;
  height:100vh;
}
ul{
    list-style-type: none;
}
img{
    max-width:100%;
}
.upper-content{
    flex-grow:1;
    display:flex;
    overflow-y: hidden;
}

#side-navbar{
    flex-shrink:0;
    flex-basis:220px;
    background-color: rgb(1,0,1);
    overflow-y: hidden;
}
.sidebar-small{
    width:120px;
    background-color:rgb(1,0,1);
}
.navbar-top{
    height:calc(100% - 80px);
    display: flex;
    flex-direction:column;
    overflow-y: hidden;
}
.navbar-down{
    height:80px;
}
.playlist{
    overflow-y: hidden;
}
.playlist-overmenu{
    overflow-y:auto;
}
.main-navbar a{
    text-decoration: none;
    padding:5px;
    height:100%; 
    color:grey; 
}
.main-navbar{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    height:100%;
    /* width:calc(100% / 6); */
    justify-content:center;
}
.button-header{
    color:white;
    background-color: rgb(23,25,37);
    height:50px;
    width:150px;
    border-radius: 20%;
    border:1px solid white;
    margin-right:10px;
    margin-top:10px;
}
.button-header a{
    text-decoration:none ;
}
main{
    flex-grow:1;
    padding-top:100px;
    background-color: rgb(23,25,37);
    overflow-y:auto;
    
}
#content{
    overflow-y:auto;
}
#content section{
 padding:20px;
}
#content figure{
    transition: transform 0,5s;
}


#content article:hover figure{
    transform: scale(1.10) translateY(-10px);
}
#content article:hover figure ::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    color: rgba(0, 0, 0, 0,5);
}
#content article:hover figure ::after{
    content: "\f1ea";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size: 24px;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}
.main-images{
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    margin:0 -5px;
    
}
.main-images li{
    flex-basis:calc(100% / 6);
    padding:5px;
}
header{
    height:100px;
    position:fixed;
    top:0;
    left:220px;
    right:0;
    background-color: rgba(0, 0, 0,0.8);
    z-index: 1;
}

footer{
    flex-shrink:0;
    flex-basis:100px;
    background-color:rgb(22,22,22);
}
.final-footer{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.footer-minimenu{
    display:flex;
    padding:5px;
    
}
.list-item-footer{
    padding:3px;
}
.left-footer{
    width:30%;
    flex-grow:0;
    margin-left:20px;
}
.footer-center{
    width:40%;
}
.right-footer{
    margin-right:20px;
    width:30%;
    flex-grow:0;
}

.image-small{
    height:15%;
   width:15%;
}
#footer-image{
    width:100%;
}




/* utilities */
.d-flex{
    display:flex;
}
.d-none{
    display:none;
}
.mt-50{
    margin-top:50px;
}
.mb-20{
    margin-bottom:20px;
}
.ml-10{
    margin-left:10px;
}
.pt-20{
    padding-top:20px;
}
.pb-50{
    padding-bottom:50px;
}
.br-50{
    border-radius:50%;
}
.justify-content-end{
    justify-content:end;
}
.justify-content-start{
    justify-content:start;
}
.justify-content-center{
    justify-content:center;
}


/* images */
.icon-image{
    width:10%;
    height:10%;
    vertical-align:middle;
}
.logo-small{
    width:50%;
}
.icon-image-small{
    width:50%;
}

